* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* color design link https://colordesigner.io/color-scheme-builder?mode=lch#04888B-503D2E-D34C27-E2A72E-EFEBC8 */
/* header styling */
header {
    background-color: #11a9ac;
    color: #efebc8;
    padding:10px;
    text-align: left;
    text-shadow: 4px 3px 0px #D34C27;
    border-bottom: groove #E2A72E 0.8vh;
}

body {
    background-image: url('flowerbackground.jpg');
    background-size: 700px;
    background-repeat: repeat;
    animation: BackgroundFloat 15s ease-in-out infinite alternate both;
}

@keyframes BackgroundFloat {
    0% {
        background-position: 50% 0;
    }
    50% {
        background-position: 45% 30px; 
    }
    100% {
        background-position: 50% 0px; 
    }
}
main {
    align-items: center;
}
.login-container {
    height: 40vh;
    width: 60vw;
    max-width: 500px;
    max-height: 350px;
    margin: auto;
    margin-top: 15vh;
    min-height: 300px;
    min-width: 200px;
    background-color: #efebc8;
    border-radius: 17px;
    border: 0.8vh outset #D34C27;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%); */
}

h2 {
    margin-top: 5px;
    text-align: center;
    color: #503D2E;
}

.login-form {
    margin-top: 20px;
    
}

.form-group {
    margin-bottom: 2vh;
    min-height: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #503D2E;
}

.btn-main {
    font-size: 1.3em;
    font-weight: bold; 
    border-radius: 9px;   
    background-color: transparent;
    padding: 0.7em;
}

.color1:hover {
    background-color: #11a9ac;
    color: #efebc8;
}

.color1 {
    color: #D34C27;
    border: 2px solid #11a9ac;
}

.color2 {
    color: #11a9ac;
    border: 2px solid #D34C27;
}

.color2:hover {
    background-color: #D34C27;
    color: #efebc8;
}