.container{
    height: 30vh;
    width: 70vw;
    max-width: 600px;
    max-height: 400px;
    margin: auto;
    margin-top: 15vh;
    min-height: 200px;
    min-width: 300px;
    background-color: #efebc8;
    border-radius: 17px;
    border: 0.8vh outset #D34C27;
    padding: 30px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nail_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nail{
    width: 4em;
    height: 6em;
    background-color: deepskyblue; margin:0 7px;
    border:2px solid #644f3e;
    border-radius: 13px 13px 23px 23px;
    background: #FFF5AD;
    background: -moz-linear-gradient(top, #FFF5AD 0%, #FFA33D 47%, #C6FFFF 100%);
    background: -webkit-linear-gradient(top, #FFF5AD 0%, #FFA33D 47%, #C6FFFF 100%);
    background: linear-gradient(to bottom, #FFF5AD 0%, #FFA33D 47%, #C6FFFF 100%);
}

.nav-bar {
    background-color: #11a9ac;
    color: #efebc8;
    padding:10px;
    text-align: left;
    text-shadow: 4px 3px 0px #D34C27;
    border-bottom: groove #E2A72E 0.8vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.btn-main {
    font-size: 1.2em;
    font-weight: bold; 
    border-radius: 9px;   
    background-color: transparent;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
}

.color1 {
    color: #D34C27;
    border: 2px dotted #D34C27;
}
.color1:hover {
    color: #efebc8;
    border: 2px dotted #E2A72E;
}

.color2 {
    color: #D34C27;
    border: 2px solid #D34C27;
    background-color: #E2A72E;
    align-self: flex-end;
    justify-content: flex-end;
}

.color2:hover {
    background-color: #D34C27;
    color: #efebc8;
}

h2 {
    margin-top: 20px;
    text-align: center;
    color: #503D2E;
}



body {
    margin: 0 ;
    background-image: url('flowerbackground.jpg');
    background-size: 700px;
    background-repeat: repeat;
    animation: BackgroundFloat 15s ease-in-out infinite alternate both;
}

@keyframes BackgroundFloat {
    0% {
        background-position: 50% 0;
    }
    50% {
        background-position: 45% 30px; 
    }
    100% {
        background-position: 50% 0px; 
    }
}